<!--管理者TOP-->
<main>
    <div class="container">
        
        <div class="row">
          <div class="col-md-6 offset-md-1">
            <h2 class="my-5">注文履歴一覧</h2>
          </div>
        </div>
        
        
        <table class="table">
            
            <thead class="thead-lignt">
                <th>購入日時</th>
                <th>購入者</th>
                <th>注文個数</th>
                <th>注文ステータス</th>
            </thead>
            
            <tbody>
                <!--each do で注文履歴一覧を表示させる-->
                <td>
                    <!--Order-details.created_at day-->
                </td>
                <td>
                    <!--Order_details.postcode-->
                    <!--Order_details.address-->
                    <!--Order_details.full_name-->
                </td>
                <td>
                    <!--Order_details.quantity-->
                </td>
                <td>
                    <!--Order_details.price-->
                </td>
            </tbody>
        </table>
        
        <%= paginate @orders %>
    
    </div>
</main>